<footer class ="topnav">
    <div class="footer-copyright">
        <div class ="container">
            All articles belong to <a href ="https://www.rantnc.com/" target="_blank">The Rant</a>
        </div>
    </div>
</footer>